{% extends 'base.html' %}
{% block title %} Upload File {% endblock %}
{% block content %}
{% if filename %}
<div class="alert alert-success d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
        <use xlink:href="#check-circle-fill" />
    </svg>
    <div>
        uploaded successfully.
    </div>
</div>
{% endif %}

Want to download any of your uploaded files?
Go <a href="/download"><button type="button" class="btn btn-outline-info">here</button></a>

{% endblock %}